[Unit]
Description=volume.service
After=network.target network-online.target

[Service]
Type=volume
User=nobody
Group=nobody
Restart=always
ExecStartPre=/bin/mkdir -p /var/run/volume
PIDFile=/var/run/volume/service.pid
ExecStart=/usr/bin/python3 -m http.server --directory /home/pi/ddc_volume_ctl --cgi 8000 &

[Install]
WantedBy=multi-user.target
