[Unit]
Description=volume.service
After=network.target network-online.target

[Service]
Restart=always
ExecStartPre=/usr/bin/vcgencmd display_power off
ExecStart=/usr/bin/python3 -m http.server --directory /home/pi/ddc_volume_ctl --cgi 8000 &

[Install]
WantedBy=multi-user.target
