[Unit]
Description=DDC monitor compatible volume service
After=network.target network-online.target syslog.target

[Service]
Type=simple
User=pi
Group=pi
Restart=always
ExecStartPre=/usr/bin/vcgencmd display_power off
PIDFile=/tmp/volume_service.pid
ExecStart=/usr/bin/python3 -m http.server --directory /home/pi/ddc_volume_ctl/ --cgi 8000
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
